.App {
  background: black;
<<<<<<< HEAD
  color: white;
}

hr {
  color: rgb(0, 218, 207) !important;
  width: 100%;
  height: 0.3em !important;
  opacity: 1 !important;
  margin: 0 !important;
}
=======
}
>>>>>>> 4983ef989023d29356c7e20e3b92229f6fc37b1f
