td {
  text-align: left;
}


.contenedor {
  margin: 2rem 0;
  position: relative;
  padding-top: 56.25%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
}

.row-tittle {
  margin: 1rem;
  text-align: center;
  align-items: center;
}

#p{
  text-align: center;
  size-adjust: inherit;
  font-size: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
}
#disponible{
  text-align: center;

}