.img {
    width: 100%;
    max-width: 30em;
    object-fit: contain;
}

.h1{
    margin: 0;
}

.p{
    color: lightgray;
}

.registrate{
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;
}

.registrate:hover{
    color: #00C5BC !important;
}

.right-side{
    padding: 0;
    overflow: hidden
}
